*{
	margin:0px;
	padding: 0px;
}
li{
	list-style-type: none;
}
section{
	width: 100%;
	position: relative;
	margin-top: 20px;
}
section ul{
	float: right;
	margin-right: 100px;
}
section ul li{
	display: inline;
	margin-left: 15px;
}
.ali{
	font-size: 14px;
	font-weight: normal;
	color: #000;
}
section a{
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
a:hover{
	color: blue;
}
section input{
	position: absolute;
	right: 10px;
	height: 25px;
	width: 65px;
	background: #3385ff;
	color: #ffffff;
	border: none;
	cursor: pointer;
}
#list{
	
	border: 1px solid #77787b;
	margin-top: 5px;
	position: absolute;
	top: 22px;
	right:-22px;
	display: none;
}
#list li{
	display: block;
	line-height: 25px;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 0px;

}
#list a{
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
	color: #77787b;
}
#png{
	position: absolute;
	right: 0px;
	top: -20px;
	display: none;
}
.imgbox{
	width:100%;
	height: 130px;
	padding-top: 50px;
	text-align: center;
}
.imgbox img{
	width: 268px;
	height: 130px;
}
.search{
	padding-top: 30px;
	position: relative;
}
.search img{
	position: absolute;
	left: 820px;
	margin-top: 5px;
}
.txt{
	width:500px;
	height: 30px;
	margin-left: 350px;
}
.btn{
	width: 100px;
	height: 34px;
	border: 0px;
	background:#3385ff;
	
	position: absolute;
}
.search a{
	text-decoration: none;
	position: absolute;
	top: 38px;
	left: 873px;
	color: #ffffff;
	font-size: 15px;
}
.code{
	margin-top: 200px;
	text-align: center;
}
.code p{
	font-size: 12px;
	color: #4f5555;
	font-weight: bold;
}
.footer{
	margin-top: 30px;
	text-align: center;
}
.footer li{
	display: inline;
	margin-right: 20px;
	font-size: 12px;
}
.footer a{
	color: #77787b;
}
.foot{
	text-align: center;
	font-size: 12px;
	color: #77787b;
	position: relative;
	margin-top: 8px;
}
.foot span{
	margin-left: 30px;
}
.foot a{
	color: #77787b;
}
.foot img{
	position: absolute;
}